<div class="container d-flex flex-column align-items-center h-100">
  <div class="container d-flex justify-content-between m-3">
    <div>
      <h2>Your Posts:</h2>
    </div>
    <div>
      <a href="/posts/new-post" class="btn btn-primary"><i class="bi bi-pencil-square"></i> New Post</a>
    </div>    
  </div>
      {{#each posts as |post|}}
      <div class="card mb-3 p-3 w-75">
        <h5 class="card-title border-bottom border-secondary">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
      </div>
      {{/ each }}
</div>