<div class="container d-flex flex-column align-items-center h-100 m-3">
  {{#each posts as |post|}}
  <div class="card mb-3 p-3 w-75">
    <h5>{{post.title}}</h5>
    <p>{{post.content}}</p>
  </div>
  {{/ each }}
</div>