<div class="container d-flex flex-column align-items-center h-100">
  <div class="card m-2 w-50">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username-login" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-login" name="password">
        </div>
        <div class="d-flex flex-row justify-content-between">
          <button class="btn btn-primary login-button">Submit</button>
          <a href="./createaccount">Create account</a>
        </div>
      </form>
    </div>
  </div>

  <div id="error-toast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>
